#pub {
    margin: 90px 0 0 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    height: 300px;
}
section#content {
    margin:0;
    padding: 0;
    border-style: solid;
}
#showProducts {
    margin: 10px 0 10px 1%;
    padding: 0;
    border-style: solid;
    width: 80%;
}
aside {
    margin: 10px 1% 10px 0;
    padding: 0;
    width: 17%;
    border-style: solid;
    float: right;
}
.prodSquare {
    border-style: solid;
}